.deps
.libs
*~
*.a
*.o
*.lo
*.la
*.log
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.h
config.h.in
config.sub
config.guess
config.status
configure
depcomp
example
install-sh
iping
libtool
ltmain.sh
missing
stamp-h1
